body{
font-family:Arial,sans-serif;
background:#111;
color:white;
margin:0;
padding:0;
}

header{
text-align:center;
padding:30px;
background:#1e1e1e;
}

.container{
width:80%;
margin:auto;
padding:20px;
}

.card{
background:#222;
padding:20px;
margin:20px;
border-radius:10px;
}

a{
color:#00ff99;
text-decoration:none;
}

a:hover{
color:#00cc77;
}
